body,
ul {
    margin: 0;
    padding: 0;
}

/* Header Styles */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    background-color: rgb(252, 249, 249);
    color: black;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.patch {
    background-color: rgb(245, 245, 245);
}

.top {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 17px;
}

.shop {
    text-decoration: none;
}

.series {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

h5 {
    padding-left: 80px;
}